@import 'globals';
@import 'mixins';
@import 'extendables';

* {
    box-sizing: border-box;
}

#container {
	// background-color: gray;
}

#div-1 {
	@include highlight-div($primary);
}

#div-2 {
	@include highlight-div($secondary);
}

#btn-1 {
	@extend .button-basic;
	background-color: blue;
}

#btn-2 {
	@extend .button-basic;
	background-color: green;
}

#btn-3 {
	@extend .button-basic;
	background-color: blue;
}

#btn-4 {
	@extend .button-basic;
	background-color: red;
}